/* 0 */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* 2 */
table img {
  vertical-align: middle;
}

/* 1 */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* 10 */
.mondrian {
  width: 850px;
}

/* 11 */
.mondrian td,
.mondrian tr {
  border: 10px solid black;
}

/* 11 */
.mondrian td {
  width: 50px;
}

/* 11 */
.mondrian tr {
  height: 40px;
}

/* 10 */
.table__col--additional {
  background-color: orange;
}

/* 10 */
.table__col--secondary {
  background-color: red;
}

/* 10 */
.table__col--filled {
  background-color: black;
}

/* 10 */
.table__col--unique {
  background-color: blue;
}

/* 10 */
.table__col--main {
  background-color: aliceblue;
}

/* 11 */
.mondrian_hidden_header tr,
.mondrian_hidden_header td {
  border: 3px solid black;
  width: 50px;
  height: 50px;
  text-align: center;
}

/* 21 */
.mondrian_hidden_header tr:last-child,
.mondrian_hidden_header td:last-child {
  width: 25px;
  height: 25px;
  text-align: center;
}

/* 21 */
.mondrian_hidden_header tr:first-of-type {
  visibility: hidden;
  height: 0;
}

/* 21 */
.mondrian_hidden_header tr:nth-last-child(2) {
  height: 25px;
}

/* 11 */
.mondrian__paddings td,
.mondrian__paddings tr {
  padding: 70px;
  border: 5px solid black;
}

/* 12 */
tbody tr.outer,
tbody td.outer {
  padding: 35px;
}
